<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MailBox - Simple mail service</title>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
        />
        <style>
            * {
                font-family: "Nunito", sans-serif;
            }
        </style>
    </head>
    <body class="bg-gray-800 pt-24">
        <main>{% block body %}{% endblock %}</main>
    </body>
</html>
